@use "sass:map";
@use "sass:math";

:root {
  line-height:      map.get($BASE, line_height);
  font-size:        map.get($BASE, font_size);
  font-family:      map.get($BASE, font_family);
  font-weight:      map.get($BASE, font_weight);
  color:            getThemeTag(primary-text-color);
  background-color: getThemeTag(primary-background-color);

  @include initiateThemeVars;
}

textarea,
input {
  &::placeholder {
    transition: opacity map.get($ANIMATIONSPEEDS, base) ease-in-out;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}

body {
  &.active {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;

    &::before {
      content: "";
        background: rgba(0,0,0, .85);
        width: 100dvw;
        height: 100dvh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: map.get($ZINDEXES, immortal);
    }
  }
}

.root {
  @include fluid(padding, (12px 6px) 0px);
  
  min-height: 100%;
  overflow: clip;
  position: relative;
  display: flex;
  flex-flow: column nowrap;

  & > main {
    flex: 1 1 auto;
  }
  // Фикс слайдеров
  > * {
    min-width: 0;
  }
}

main {
    $padding_x: map.get($BASE, container_padding_x);

    width: 100%;
    margin: 0 auto;
    @include rem(min-width, map.get($BASE, min_width));

    @if map.get($SETTINGS, responsive_type) == 1 {
      @include rem((
        padding: 0 math.div($padding_x, 2),
        max-width: map.get($BASE, max_width)
      ));
    }
    @else if map.get($SETTINGS, responsive_type) == 2 {
      max-width: 100%;
      @include rem(padding, 0 math.div($padding_x, 2));

      @each $type, $props in $CONTAINER {
        @include media($type, double) {
          $padding_x: map.get($props, padding-x);
          $max_width: map.get($props, max-width);

          @include rem((
            max-width: ($max_width + $padding_x),
            padding: 0 math.div($padding_x, 2)
          ))
        }
      }
    }
   
}

form {
  display: flex;
  flex-flow: row wrap;

  @include fluid(gap, (24px 12px) 12px);

  label {
    @extend %textLabel;

    font-family: map.get($FONTS, goudy);
    font-style: italic;
  }

  input {
    @extend %textDefault;

    color: getThemeTag(secondary-text-color);
    background-color: getThemeTag(primary-background-color);

    @include transition(color, background-color);
    @include fluid(padding, (12px 8px) (16px 8px));
    @include rem(border-radius, 6px);
  }
}

.layout {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  gap: pxAdaptive(12px);

  &--main,
  &--restaurant {
    .layout {
      &__slider {
        flex: 0.787687 1 0; // 0.787685 (1484 / 1884)
      }

      &__hero {
        flex: 0.212314 1 0; // 0.212314 (400 / 1884)
        min-width: 350px;
      }
    }
  }

  &--menu,
  &--about {
    .layout {
        &__slider {
          flex: 0.575371 1 0; // 0.5753715499 (1084 / 1884)
        }
        &__hero {
          flex: 0.424629 1 0; // 0.4246284501 (800 / 1884)
        }
    }
  }

  &--reservation {
    .layout {
      &__slider {
        flex: 0.708067 1 0; // 0.7080679406 (1334 / 1884)
      }
      &__hero {
        flex: 0.291933 1 0; // 0.2919320594 (550 / 1884)
      }
    }
  }

  @include media(normal) {
    flex-direction: row;
  }
}