@font-face {
	font-family: 'Figtree';
	src: url('/Users/vitaliy/GitHub/gusto/src/assets/fonts/Figtree-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "SortsMillGoudy";
	src: url('/Users/vitaliy/GitHub/gusto/src/assets/fonts/SortsMillGoudy-RegularItalic.ttf') format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}