@use 'sass:map';

.burgerText {
    background-color: transparent;
    color: inherit;
    @extend %textNavbar;

    span.disabled {
        display: none;
    }

    &.active {
        span {
            &.disabled {
                display: inline;
            }
            &.active {
                display: none;
            }
        }
    }
}