@use 'sass:map';

.button {
    @extend %textButton;
    @extend %watcherDefault;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    background-color: getThemeTag(primary-text-color);
    color: getThemeTag(primary-background-color);
    border-radius: pxAdaptive(6px);

    @include transition(background-color, color);
    @include fluid(padding, (12px 10px) (14px 10px));

    &--alternative {
        background-color: getThemeTag(secondary-background-color);
        color: getThemeTag(primary-text-color);
    }

    &--transparent {
        background-color: unset;
        color: getThemeTag(primary-text-color);
    }

    &--big {
        @extend %textMeta;

        @include fluid((
            border-radius: 12px 8px,
            padding: 24px 12px
        ))
    }

    &--text {
        color: getThemeTag(primary-text-color);
        padding: unset;
        background-color: unset;
        border-radius: unset;
        padding-bottom: 2px;
        border-bottom: 1px solid getThemeTag(primary-text-color);
    }

    &--fw {
        width: 100%;
    }

    &--with-icon {
        justify-content: space-between;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            
        }
    }
}