@use 'sass:map';

.icon {
    @include rem((
        width: 18px,
        height: 18px
    ));

    &--medium {
        @include rem((
            width: 16px,
            height: 16px
        ));
    }

    transition: transform map.get($ANIMATIONSPEEDS, base) ease-in-out;
}