@use 'sass:map';

.toggle {
    width: pxToRem(30px);
    height: pxToRem(20px);
    background-color: var(--theme-toggle-current-background-color);
    @include theme_toggle(background-color);
    border-radius: pxToRem(10px);
    cursor: pointer;
    position: relative;
    

    &__circle {
        width: pxToRem(8px);
        height: pxToRem(8px);
        background-color: var(--theme-toggle-current-color);
        @include theme_toggle(background-color, left);
        border-radius: 100%;

        position: absolute;
        top: 50%;
        left: pxToRem(6px);
        transform: translate(0, -50%);
        
    }

   @media (hover: hover) and (pointer: fine) {
    &:hover {
        background-color: var(--theme-toggle-next-background-color);

        .toggle {
            &__circle {
                left: calc(100% - 8px - 6px);
                background-color: var(--theme-toggle-next-color);
            }
        }
    }
   }
}