@use 'sass:map';

.toggle {
    cursor: pointer;
    position: relative;
    background-color: var(--theme-secondary-background-color);
    @include transition(background-color);
    
    @include rem((
        width: 30px,
        height: 20px,
        border-radius: 10px
    ));
    

    &__circle {
        border-radius: 100%;
        background-color: var(--theme-primary-text-color);
        @include transition(background-color, left);

        @include rem((
            width: 8px,
            height: 8px,
            left: 6px
        ));
        
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        
    }

   @media (hover: hover) and (pointer: fine) {
    &:hover {
        background-color: var(--theme-primary-text-color);

        .toggle {
            &__circle {
                left: calc(100% - 8px - 6px);
                background-color: var(--theme-primary-background-color);
            }
        }
    }
   }
}