@use 'sass:map';

.header {
   position: relative;

   &__logo {
      flex-shrink: 0;

      @include rem((
         width: 48px,
         height: 18px
      ));
   }

   &__toggle {
      flex-shrink: 0;
   }

   &__container {
      position: fixed;
      top: 0;
      z-index: map.get($ZINDEXES, immortal);
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      padding: fluid(12px 6px) 12px 0;

      &:before {
         content: '';
         width: 100%;
         height: fluid(12px 6px);
         background-color: red;
         position: absolute;
         top: 0;
         left: 0;
      }
   }

   &__left, &__right {
      position: relative;

      @include fluid((
         padding-left: 20px 10px,
         padding-right: 20px 10px,
      ));
   }

   &__left {
      @extend %corner-1;

      max-width: 80dvw;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      
      @include fluid(gap, 30px 5px);
   }
   &__right {
      @extend %corner-2;

      right: 0;
   }
   &__burgerText {
      @extend %textNavbar;
      
      background-color: transparent;
      cursor: pointer;
   }


   @include media(tablet) {
      &__right {
         display: none;
      }
   }
}