@use 'sass:map';

.header {
   position: relative;

   &__logo {
      flex-shrink: 0;
      @include rem((
         width: 48px,
         height: 18px
      ));
      @extend %themeToggleColor;
   }

   &__toggle {
      flex-shrink: 0;
   }

   &__container {
      position: fixed;
      top: 0;
      z-index: map.get($ZINDEXES, immortal);
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      padding: fluid(12px 6px) 12px 0;

      &:before {
         content: '';
         width: 100%;
         height: fluid(12px 6px);
         background-color: red;
         position: absolute;
         top: 0;
         left: 0;
      }
   }

   &__left, &__right {
      position: relative;

      @include rem(padding-bottom, 20px);

      @include fluid((
         padding-left: 20px 10px,
         padding-right: 20px 10px,
      ));
   }

   &__left {
      max-width: 80dvw;
      @extend %themeToggle;
      @extend %corner;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      border-radius: 0 0 pxToRem(20px) 0;

      @include fluid(gap, 30px 5px);
   }
   &__right {
      right: 0;
      @extend %themeToggle;
      border-radius: 0 0 0 pxToRem(20px);

      &:before, &:after {
         content: '';
         mask: url('media/image/edge.svg');
         position: absolute;
         transform: rotate(90deg);
         @extend %themeToggleBackground;

         @include rem((
            width: 20px,
            height: 20px
         ));
      }

      &:before {
         top: 0;
         right: 100%;
      }

      &:after {
         top: 100%;
         right: 0;
      }
   }
   &__burgerText {
      @extend %textNavbar;
      @extend %themeToggleColor;
      background-color: transparent;
      cursor: pointer;
   }


   @include media(tablet) {
      &__right {
         display: none;
      }
   }
}