@use 'sass:map';

.hero {
    &__container {
        display: flex;
        flex-direction: column;

        @include rem(gap, 12px);
    }

    @include media(normal, max) {
        .button {
            &--priority {
                order: -1;
            }
        }
    }
}