<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <%- include('./externe/components/DummyAside/DummyAside.ejs') %>
    <section class="heading">
        <div class="outer container">
            <div class="inner">
                <h4 class="text-center">Heading</h4>
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <h5>Heading 5</h5>
                <h6>Heading 6</h6>
            </div>
        </div>
    </section>
    <section class="paragraph">
        <div class="outer container">
            <div class="inner">
                <h4 class="text-center">Text / Paragraph</h4>
                <div class="flex gap-2 flex-wrap">
                    <div>
                        <h6>Default</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt nisi molestias unde porro omnis voluptas ad reprehenderit, deleniti inventore, modi obcaecati perspiciatis numquam!</p>
                    </div>
                    <div>
                        <h6>Medium</h6>
                        <p class="text text--md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt nisi molestias unde porro omnis voluptas ad reprehenderit, deleniti inventore, modi obcaecati perspiciatis numquam!</p>
                    </div>
                    <div>
                        <h6>Small</h6>
                        <p class="text text--sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt nisi molestias unde porro omnis voluptas ad reprehenderit, deleniti inventore, modi obcaecati perspiciatis numquam!</p>
                    </div>
                    <div>
                        <h6>Meta</h6>
                        <p class="text text--mt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt nisi molestias unde porro omnis voluptas ad reprehenderit, deleniti inventore, modi obcaecati perspiciatis numquam!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<section class='button_component'>
        <div class="outer container">
            <div class="inner">
                <h6 class="text-center">BUTTON Component</h6>
                <div class="flex items-center gap-x-2">
                    <%- include('src/ejs/components/button.ejs', {
                        button_component: {
                            label: 'Button'
                        }
                    })%>
                    <%- include('src/ejs/components/button.ejs', {
                        button_component: {
                            style: 'alternative',
                            label: 'Button'
                        }
                    })%>
                    <%- include('src/ejs/components/button.ejs', {
                        button_component: {
                            style: 'transparent',
                            label: 'Button'
                        }
                    })%>
                </div>
            </div>
        </div>
	</section>
    <section class='button_component'>
        <div class="outer container">
            <div class="inner">
                <h6 class="text-center">BUTTONTEXT Component</h6>
                <div class="flex items-center gap-x-2">
                    <%- include('src/ejs/components/button.ejs', {
                        button_component: {
                            type: 'text',
                            label: 'Button Text'
                        }
                    })%>
                </div>
            </div>
        </div>
	</section>
	<section class='page_component'>
        <div class="outer container">
            <div class="inner">
                <h6 class="text-center">PAGE Component</h6>
                <div class="flex items-center gap-x-2">
                    <%- include('src/ejs/components/page.ejs', {
                        page_component: {
                            this: {
                                class: 'class'
                            },
                            link: {
                                href: '#',
                                label: `label`
                            },
                            image_component: {
                                this: {
                                    class: 'page__image'
                                },
                                img: {
                                    src: '/media/image/slider/sld1-md.jpg',
                                    alt: 'alt'
                                }
                            }
                        }
                    })%>
                </div>
            </div>
        </div>
	</section>
	<script type="module" src="../temporary/test.ts"></script>
    <script type="module" src="../../../src/ts/main.ts"></script>
</body>
</html>