@use 'sass:map';

@import './default/placeholders';

// headers
%h1 {
    font-family: map.get($FONTS, goudy);
    line-height: 1.1;
    @include fluid(font-size, 48px 32px);
}
%h2 {
    font-family: map.get($FONTS, goudy);
    line-height: 1.2;
    @include fluid(font-size, 40px 28px);
}
%h3 {
    font-family: map.get($FONTS, goudy);
    line-height: 1.2;
    @include fluid(font-size, 32px 24px);
}
%h4 {
    font-family: map.get($FONTS, goudy);
    line-height: 1.2;
    @include fluid(font-size, 24px 18px);
}
%h5 {
    font-family: map.get($FONTS, goudy);
    line-height: 1.2;
    @include fluid(font-size, 20px 18px);
}
%h6 {
    font-family: map.get($FONTS, goudy);
    line-height: 1.4;
    letter-spacing: .5px;
    @include fluid(font-size, 16px 14px);
}

// Texts
%textMedium {
    @include fluid(font-size, 16px 14px);
}
%textSmall {
    @include fluid(font-size, 14px 12px);
}
%textMeta {
    line-height: 1;
}
%textNavbar {
    line-height: 1.2;
    @include fluid(font-size, 14px 12px);
}
%textButton {
    @include fluid(font-size, 14px 12px);
}

%card {
    @extend %themeToggleBackground;

    @include fluid((
        padding: 48px 12px,
        border-radius: 12px 8px
    ));
}

%corner {
    &:before, &:after {
        content: '';
        mask: url('/media/image/edge.svg') no-repeat;
        position: absolute;
        @extend %themeToggleBackground;

        @include rem((
            width: 20px,
            height: 20px
        ));
    }

    &:before {
        top: 100%;
        left: 0;
    }

    &:after {
        top: 0;
        left: 100%;
    }
}