@use 'sass:map';

@import './default/placeholders';

// headers
%h1 {
    font-family: map.get($FONTS, goudy);
    line-height: 1.1;
    @include fluid(font-size, 48px 32px);
}
%h2 {
    font-family: map.get($FONTS, goudy);
    line-height: 1.2;
    @include fluid(font-size, 40px 28px);
}
%h3 {
    font-family: map.get($FONTS, goudy);
    line-height: 1.2;
    @include fluid(font-size, 32px 24px);
}
%h4 {
    font-family: map.get($FONTS, goudy);
    line-height: 1.2;
    @include fluid(font-size, 24px 18px);
}
%h5 {
    font-family: map.get($FONTS, goudy);
    line-height: 1.2;
    @include fluid(font-size, 20px 18px);
}
%h6 {
    font-family: map.get($FONTS, goudy);
    line-height: 1.4;
    letter-spacing: .5px;
    @include fluid(font-size, 16px 14px);
}

// Texts
%textDefault {
    @include fluid(font-size, 15px 13px);
    line-height: 1.6;
}
%textMedium {
    @include fluid(font-size, 16px 14px);
}
%textSmall {
    @include fluid(font-size, 14px 12px);
}
%textMeta {
    @include fluid(font-size, 15px 13px);
    line-height: 1;
}
%textNavbar {
    line-height: 1.2;
    @include fluid(font-size, 14px 12px);
}
%textButton {
    @include fluid(font-size, 14px 12px);
}

%card {
    background-color: var(--theme-primary-background-color);
    @include transition(background-color);

    @include fluid((
        padding: 48px 12px,
        border-radius: 12px 8px
    ));
}

%cornerDefault {
    background-color: var(--theme-primary-background-color);

    @include transition(background-color);
    
    &:before, &:after {
        content: '';
        mask: url('/media/image/edge.svg') no-repeat;
        position: absolute;
        background-color: var(--theme-primary-background-color);

        @include transition(background-color);
        @include rem((
            width: 20px,
            height: 20px
        ));
    }
}
%corner-1 {
    @extend %cornerDefault;

    @include rem(padding-bottom, 20px);
    @include rem(border-radius, 0 0 20px 0);

    &:before {
        top: 100%;
        left: 0;
    }

    &:after {
        top: 0;
        left: 100%;
    }
}

%corner-2 {
    @extend %cornerDefault;

    @include rem(padding-bottom, 20px);
    @include rem(border-radius, 0 0 0 20px);

    &:before, &:after {
        transform: rotate(90deg);
    }

    &:before {
        top: 0;
        right: 100%;
    }

    &:after {
        top: 100%;
        right: 0;
    }
}

%corner-3 {
    @extend %cornerDefault;

    @include rem(padding-top, 20px);
    @include rem(border-radius, 20px 0 0 0);

    &:before, &:after {
        transform: rotate(180deg);
    }

    &:before {
        bottom: 0%;
        right: 100%;
    }

    &:after {
        bottom: 100%;
        right: 0;
    }
}