@use "sass:map";
@use "sass:color";

@import './default/variables';

$SETTINGS: (    
    // pixels perfect
    pixels_only: true,
    // Тип адаптива контейнера
    // 1 = без брейкпоинтов
    // 2 = Boostrap сетка
    responsive_type: 1
);

$CONTAINER: $DEFAULT_CONTAINER;
$HEADERS_CLAMP_WIDTH: $DEFAULT_HEADERS_CLAMP_WIDTH;

$P: $DEFAULT_P;
$HEADERS: $DEFAULT_HEADERS;

$BASE: (
    font_size: 16px,
    font_weight: 400,
    line_height: 1,
    font_family: ('Figtree', sans-serif),
    main_color: #0F110C,
    background_color: #FFFCF3,
    container_padding_x: (12px * 2),
    min_width: 320px,
    max_width: 1920px
);

$BURGER: (
    color_primary: map.get($BASE, main_color),
    color_active: color.scale(map.get($BASE, main_color), $lightness: 80%),
    origin_top: 6px,
    origin_bottom: 6px,
    width: 32px,
    height: 32px,
    line_height: 2px,
    border_radius: 4px,
    animation_speed: .2s
);

$COLORS: (
    default: #FFFCF4,
    muted: #FFFCF4,
    inverse: #0F110C,
    inverse_muted: #0E1011,
    yellow: #F9CF39,
    background_default: #0F110C,
    background_muted: #161813,
    background_muted_2: #1B1D18,
    background_inverse: #FFFCF3,
    background_inverse_muted: #F4F0E5,
    background_inverse_muted_2: #F1ECDE,
    border_default: #E8E8E8,
    border_inverse: #FFFFFF,
    icon_default: #0E1011,
    icon_inverse: #FFFFFF
);

$ANIMATIONSPEEDS: (
    long: .5s,
    base: .4s,
    short: .3s
);

$ZINDEXES: (
    immortal: 5
);
// Custom
$FONTS: (
    figtree: map.get($BASE, font_family),
    goudy: ('SortsMillGoudy', sans-serif)
);

